.header {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        @media screen and (min-width: map-get($breakpoints, desktop)) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 98%;
        }
    }
}

.explanation__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-left: 1.5rem;

    @include tablet-only {
        align-items: center;
        padding-left: 0;
    }
}

.buttons__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem;
    gap: 2rem;

    @media screen and (min-width: map-get($breakpoints, "tablet")) {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 0;
        width: 97%;
    }
}

.restaurant__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 3rem;

    @media screen and (min-width: map-get($breakpoints, tablet)) {
        align-items: center;
    }

    @media screen and (min-width: map-get($breakpoints, desktop)) {
        align-items: center;
        padding-left: 0;
        width: 100%;
    }
}

.menu__title {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.selection {
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;

        @include tablet-only {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.check {
    background-color: green;
}