.header {
    &__logo {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            padding-left: 1rem;
        }
    }
    &__location {
        @include flex-centre;
        width: 100%;
        background-color: darken($color: $background-color, $amount: 5%);
        box-shadow: 0 1.5px 5px rgba (o, o, o, 1) inset;
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            width: 200px;
            border-radius: 1.5rem;
            @include header-shadow;
        }
        i {
            padding-right: 1rem;
        }
}
}