.btn {
    border-radius: 100px;
    height: 3rem;
    padding: 1rem 2rem;
    border: none;
    @include shadow;
    transition: all 500ms;
    outline: none;
    cursor: pointer;
    &:hover {
        @include shadow-hover;
    }
    &--gradient {
        color: $background-color;
        background: linear-gradient(to bottom right, $primary-color, $secondary-color);
        &hover {
            background: linear-gradient(to bottom-right, lighten ($primary-color, 10%), lighten ($secondary-color, 10%));
        }
    }
    &--order {
        height: 5em;
        padding: 1rem 7rem;
    }
}
