.btn {
	background-image: linear-gradient($secondary-color 0%, $primary-color 100%);
	border: 0px solid rgb(28, 110, 164);
	border-radius: 3rem;
    box-shadow: -1px 4px 10px 5px rgba(0, 0, 0, 0.15);
    color: white;
    height: 3.2rem;
    width: 14rem;
    border-radius: 3rem;
}