.restaurant {
    background-color: $background-color;
    &__cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @media screen and (min-width: map-get($breakpoints, desktop)) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 85%;
        padding-left: 0;
        gap: 1rem;
    }
}

    &__card {
        flex-direction: column;
        align-items: flex-start;
        background-color: $background-color;
        gap: 1rem;
        width: 21.5rem;
        height: 17rem;
        border-radius: 20px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

        @media screen and (min-width: map-get($breakpoints, tablet)) {
            width: 30rem;
        }

        @media screen and (min-width: map-get($breakpoints, desktop)) {
            width: 30rem;
        }
    }

    &__img {
        padding-bottom: 3px;
    }

    &__text {
        line-height: .3rem;
        padding-left: 1rem;
    }

    &__icon {
        font-size: 1.5rem;
        display: flex;
        justify-content: flex-end;
        position: relative;
        bottom: 3rem;
        right: 1.5rem;
    }

    &__title {
        padding-top: 2rem;
        position: relative;
        right: 6.5rem;
        @media screen and (min-width: map-get($breakpoints, tablet)) {
        position: static;
    }
}

    .img {
        object-fit: cover;
        height: 12rem;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    &__banner {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 100%;
        left: 73%;
        background-color: $tertiary-color;
        height: 1.8rem;
        width: 5rem;
        border-radius: 5%;
        @media screen and (min-width: map-get($breakpoints, tablet)) {
            left: 79.5%;
        }
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            left: 79.5%;
        }
    }
}